<html ng-app="visa_center">
<head>
    <title>Countries</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="application_controller.js"></script>
<body>

<form ng-controller="application_controller"  ng-submit="addCountry(country)">
    <table style="with: 50%">
        <tr>
            <td>Name</td>
            <td><input ng-model ="country.name" /></td>
        </tr>
    </table>
    <input type="submit"/>
    <h3 ng-show="messageBool">{{errorMessage}}</h3>
    <h3 ng-repeat="error in errors" ng-show="messageBool">{{error}}</h3>

</form>

<br/>

<div ng-controller="application_controller" data-ng-init='getCountry()'>
    <table ng-repeat="country in countries">
        <tr>
            <td>
                {{country.name}}
            </td>
        </tr>

        <tr >
            <td>
                <button ng-click="deleteCountry(country.id)" type="submit">Delete</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
