<html ng-app="visa_center">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="application_controller.js"></script>
<head>
    <title>All Users</title>
</head>
<body>

<form ng-controller="application_controller"  data-ng-init="getRoles()" ng-submit="addEmployee(user)">
    <table style="with: 50%">
        <tr>
            <td>Login</td>
            <td><input ng-model ="user.login" /></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input ng-model="user.email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input ng-model="user.password" /></td>
        </tr>
            <td>Role</td>
            <td>
                <select ng-model="user.role" ng-options="r as r for r in roles"></select >
            </td>
        </tr>
    </table>
    <input type="submit"/>
    <h3 ng-show="messageBool">{{errorMessage}}</h3>
    <h3 ng-repeat="error in errors" ng-show="messageBool">{{error}}</h3>
</form>

<br/>

<h3>All Employees</h3>
<br/>

<div ng-controller="application_controller" data-ng-init='getAllEmployees()'>
    <table ng-repeat="employee in employees">
        <tr>
            <td>Login</td>
            <td>
                {{employee.login}}
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {{employee.email}}
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                {{employee.role}}
            </td>
        </tr>
        <tr>
            <td>Login</td>
            <td>
                {{employee.password}}
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="deleteEmployee(employee.id)" type="submit">Delete</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
