<html ng-app="reg">
<head>
    <title>Registration</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    angular.module('reg', [])
        .controller('register',function($scope, $http, $window) {
            $scope.regUser = function(user){
                $http.post('http://localhost:8888/register', user)
                    .then(function () {
                        $window.location.href = "/client_page.html";
                    }).catch(function (reason) {
                        $scope.errorMessage = reason.data.errorMessage;
                        $scope.errors = reason.data.errors;
                        $scope.messageBool = true;
                    });
            };
        });
</script>
<div ng-controller="register">
<form ng-submit="regUser(user)">
    <table style="with: 50%">
        <tr>
            <td>Login</td>
            <td><input ng-model ="user.login" /></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input ng-model="user.email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input ng-model="user.password" /></td>
        </tr>
    </table>
    <input type="submit"/>
    <h3 ng-show="messageBool">{{errorMessage}}</h3>
    <h3 ng-repeat="error in errors" ng-show="messageBool">{{error}}</h3>
</form>
</div>
</body>
</html>